h1{
    text-shadow: 3px 2px 5px;
}
.shama{
    height: 200px;
    width: 200px;
    background-color: brown;
    box-shadow: 5px 5px 5px green;
    position: relative;
    margin: auto;
}
.shama img{
    width: 100%;
}
.c1{
    background-color: aquamarine;
    position: relative;
    height: 200px;
    width: 200px;
    margin: auto;
}

.c1::before{
    content: "";
    position:absolute;
    left: 0;
    bottom: 0;
    width: 60%;
    height: 30px;
    background-color:chocolate;
    transform-origin: right;
    transform: skewY(-5deg);
    z-index: -1;
    filter: blur(5px);
}

.c1::after{
    content: "";
    position:absolute;
    left: 10%;
    bottom:10px;
    width: 90%;
    height: 30px;
    background-color:chocolate;
    transform-origin: left;
    transform: skewY(5deg);
    z-index: -1;
    filter: blur(5px);
}
.c2{
    background-color: darkorchid;
    position: relative;
    margin: auto;
    height: 200px;
    width: 200px;
}
.c2::before{
    content: "";
    position: absolute;
    background-color:black;
    left: 5%;
    width: 90%;
    height: 20%;
    bottom: -50px;
    border-radius: 50%;
    z-index: -1;
    filter: blur(5px);
}
body{
    background-color: rgb(0, 247, 255);
}
.c3{
    height: 200px;
    width: 200px;
    background-color: rgb(0, 247, 255);
    margin: auto;
    position: relative;
    border-radius: 25px;
    box-shadow: -15px -15px 15px rgba(255,255,255,0.5),15px 15px 15px rgba(0,0,0,0.5);
}
.c4{
    height: 200px;
    width: 200px;
    background-color: rgb(0, 47, 255);
    margin: auto;
    position: relative;
    border-radius: 25px;
    box-shadow: -15px -15px 15px rgba(255,255,255,0.5),15px 15px 15px rgba(0,0,0,1),inset -15px -15px 15px rgba(255,255,255,0.5), inset 15px 15px 15px rgba(0,0,0,1) ;
}
.c5{
    height: 300px;
    width: 300px;
    background-image: url(image/social.png);
    height: 100px;
    width: 150px;
    position: relative;
    margin: auto;
}
.c6{
    height: 200px;
    width: 200px;
    background-color: gold;
    position: relative;
    margin: 100px auto;
    transform:rotate(-45deg);
    border-radius: 25px;
}
.c6 h1{
    text-align: center;
    position: relative;
    top:40%;
    font-size: 25px;
 transform: rotate(45deg);
}
.c{
    height: 200px;
    width: 200px;
    background-color: hotpink;
    position: relative;
    margin:100px auto;
    transition-property: all;
    transition-delay: 0.5s;
    transition-duration: 2s;
    text-align: center;
}
.c:hover{
    width: 150px;
    height: 150px;
    background-color: blue;
    transform: rotate(180deg);
    border-radius: 50%;
}